<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="News" tabIcon="paper"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contact"></ion-tab>
</ion-tabs>
