<!--
  Generated template for the QuestionnairePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Questionnaire</ion-title>
  </ion-navbar>
  <h3>Questions for investors considering a cryptocurrency.
    Rate 1-5 of understanding and confidence.</h3>
</ion-header>


<ion-content padding>
  <ion-list *ngFor='let question of questions'>
    <ion-list-header>{{question.text}}</ion-list-header>
    <ion-item>
      <ion-range min="1" max="5" [(ngModel)]="question.rate" color="secondary" pin='true' snaps='true'>
        <ion-label range-left>1</ion-label>
        <ion-label range-right>5</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>
  <button ion-button full (click)='submit()' >Submit</button>
</ion-content>
