<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Compliance</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      Team E-Corp
    </ion-card-header>
    <ion-card-content>
      <p>Some descriptions</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
      <ion-card-header>
        Compliance Questionnaire
      </ion-card-header>
      <ion-card-content>
        <p>Help yourself to exam your understanding</p>
        <button ion-button full (click)='gotoQuestionnaire()' >Compliance Questionnaire</button>
      </ion-card-content>
    </ion-card>
  </ion-content>

<ion-footer>
</ion-footer>