<ion-header>
  <ion-navbar>
    <ion-title>CryptoCurrent</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Favorites
      <!-- <ion-badge>{{interestList.length}}</ion-badge> -->
      <ion-icon class="header-right" (click)="addButtonPress()" name="add"></ion-icon>
    </ion-card-header>

    <ion-list>
      <ion-item-sliding *ngFor="let item of interestList">
        <ion-item (click)='gotoDetail(item)'>
          <p item-start>{{item.sym}}</p>
          <p item-end>{{item.avePrice}}</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button (click)="deletePress(item)">
            <ion-icon name="trash" ></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
</ion-content>
