<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>News</ion-title>
  </ion-navbar>
  <ion-item>
    <ion-label>Regulation Only</ion-label>
    <ion-toggle [(ngModel)]="regulationOnly" (ionChange)='refreshList()' ></ion-toggle>
  </ion-item>

</ion-header>


<ion-content padding>
  <ion-list #newsList>
    <ng-container *ngFor="let news of newsData">
      <ion-item *ngIf='showRegulationOnly(news)' (click)="openNews(news)">
        <ion-thumbnail item-start>
          <img src={{news.imageurl}} />
        </ion-thumbnail>
        <div item-content>
          <h2>
            {{news.title}}
          </h2>
          <p float-right> {{news.published_on * 1000 | date:'EEEE dd MMM'}} </p>
        </div>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
