<!--
  Generated template for the CurrencyDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CurrencyDetail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      {{symbol}}
    </ion-card-header>
    <ion-item>
      <p item-start>Current price:</p>
      <p #priceTag item-end>{{info.avePrice}}</p>
    </ion-item>
  </ion-card>
  <ion-card>
      <ion-card-header>
        Chart (highest price)
      </ion-card-header>
      <canvas #histodayChart></canvas>
      <ion-card-content>

      </ion-card-content>
    </ion-card>
</ion-content>
